<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="FromAddress" value="webmaster@casadepedrohotels.com.ng" />
    <add key="FromName" value="Casa Website" />
    <add key="ToBookingAddress" value="booking@casadepedrohotels.com.ng" />
    <add key="ToInfoAddress" value="info@casadepedrohotels.com.ng" />
    <add key="ToSupportAddress" value="support@casadepedrohotels.com.ng" />
    <add key="ToName" value="Casa Services" />
    <add key="SendMailOnError" value="true" />
  </appSettings>

  <system.web>
    <globalization culture="fr-FR" uiCulture="auto" enableClientBasedCulture="true" />
    <customErrors mode="Off" defaultRedirect="~/Errors/OtherErrors.aspx" redirectMode="ResponseRewrite"> <!--turn to 'On' in production-->
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
    </customErrors>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Account/Login.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" /> <!--turn to false in production-->
    <httpRuntime targetFramework="4.5" />
    <!--web optimization-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <!--Development server connection string-->
  <connectionStrings>
    <remove name="DefaultConnection" />
    <add name="DefaultConnection" connectionString="server=localhost;database=dbo_casadepedro;user id=root;password=Okey1984;" providerName="MySql.Data.MySqlClient" />
    <add name="dbo_casadepedroEntities" connectionString="metadata=res://*/modelCasaDePedro.csdl|res://*/modelCasaDePedro.ssdl|res://*/modelCasaDePedro.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Okey1984;persistsecurityinfo=True;database=dbo_casadepedro&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--production server connection string-->


  <location path="Booking">
    <system.web>
      <authorization>
        <allow roles="Frontdesk, Manager, Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="Manager, Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Administrator">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.net>
    <mailSettings>

      <smtp deliveryMethod="SpecifiedPickupDirectory" from="Casa De Pedro Hotels Website &lt;webmaster@casadepedrohotels.com.ng&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail" />
      </smtp>

      
      <!--<smtp>
        <network host="SMTP.casadepedrohotels.com.ng" userName="webmaster@casadepedrohotels.com.ng" password="xxx" />
      </smtp>-->        
      
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
